<%inherit file="/base.html"/>

<%block name="content">
<div class="king-layout2-main mt15" style="width:960px;">
    <div class="ui-ui" style="position: relative; z-index: 0;">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">选择服务器：</label>
                <div class="col-sm-8">
                    <button onclick="select_server()" class="king-btn-demo king-btn king-primary">选择服务器</button>
                </div>
                <div style="padding-left: 5%;" id="server_p" class="display_none">
                    <div class="col-sm-10" style="padding-left:125px;padding-right: 128px;overflow-y: auto;width: 94%;">
                        <div id="server_list" class="demo"
                             style="margin-top: 5px;border-radius: 0;overflow-y: auto;overflow-x: hidden;margin-bottom: 0 !important;"></div>
                    </div>
                </div>
            </div>
            <div class="ui-ui" style="position: relative; z-index: 0;">
                <div class="form-group clearfix p30">
                    <div class="col-sm-7 col-sm-offset-3">
                        <button  onclick="confirm()" type="button" class="king-btn king-success mr10 navbar-blue">查询用户</button>
                        <button  onclick="useradd()" type="button" class="king-btn king-success mr10 navbar-blue">新建用户</button>
                        <button onclick="cancel()" class="king-btn king-default">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="king-page-box">
        <div class="king-container clearfix">
            <form class="form-horizontal">
                <table class="table mb0 pr15 ranger-box ">
                    <thead>
                        <tr>
                            <th style="width: 100px;">#</th>
                            <th style="width: 20%;">host</th>
                            <th style="width: 20%;">username</th>
                            <th style="width: 20%;">home</th>
                            <th>shell</th>
                            <th>operations</th>
                        </tr>
                    </thead>
                    <tbody id="user_data">
                    </tbody>
                </table>
                <!-- 设置面板Start -->
                <template id="header_tpl_1516932239990">
                    <tr>
                        <th style="width: 100px;">#index#</th>
                        <th style="width: 20%;">#task#</th>
                        <th style="width: 20%;">#progress#</th>
                        <th style="width: 20%;">#host#</th>
                        <th>#date#</th>
                    </tr>
                </template>
                <template id="tpl_1516932239990">
                    <tr>
                        <td style="width: 100px;">#index#</td>
                        <td style="width: 20%;">#columnName1#</td>
                        <td style="width: 20%;">#columnName2#</td>
                        <td style="width: 20%;">#columnName3#</td>
                        <td>#columnName4#</td>
                    </tr>
                </template>
                <!-- 设置面板End -->
            </form>
        </div>
    </div>
</div>
<form id="form1" runat="server">
    <div id="alertDiv" hidden="hidden">
       <div class="king-page-box">
            <div class="king-container clearfix">
                <form class="form-horizontal">
                    <div class="form-group clearfix ">
                        <label class="col-sm-3 control-label bk-lh30 pt0">用户名：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control bk-valign-top" id="linux_username" placeholder="用户名"> </div>
                    </div>
                    <div class="form-group clearfix ">
                        <label class="col-sm-3 control-label bk-lh30 pt0">密码：</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control bk-valign-top" id="linux_pwd" placeholder="密码">
                            <p class="help-block">6位以上，仅可由数字、字母、下划线组成</p>
                        </div>
                    </div>
                    <div class="form-group clearfix ">
                        <label class="col-sm-3 control-label bk-lh30 pt0">重复：</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control bk-valign-top" id="linux_pwd_repeat" placeholder="密码">
                            <p class="help-block">保持一致</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="changePwdDiv" hidden="hidden">
       <div class="king-page-box">
            <div class="king-container clearfix">
                <form class="form-horizontal">
                    <div class="form-group clearfix ">
                        <label class="col-sm-3 control-label bk-lh30 pt0">密码：</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control bk-valign-top" id="linux_new_pwd" placeholder="密码">
                            <p class="help-block">6位以上，仅可由数字、字母、下划线组成</p>
                        </div>
                    </div>
                    <div class="form-group clearfix ">
                        <label class="col-sm-3 control-label bk-lh30 pt0">重复：</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control bk-valign-top" id="linux_new_pwd_repeat" placeholder="密码">
                            <p class="help-block">保持一致</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form>
</%block>
<script type="text/javascript" src="${STATIC_URL}js/sys/change_pass.js"></script>



